{% extends 'news/beas.html' %}
{% load static %}
{% load hitcount_tags %}
  {% block content %}
  <title>{% block title %} Contact {% endblock%}</title>
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="left_content">
        <div class="contact_area">
          <h2>Contact Us</h2>
          <p>Biz haqimizda fikir va mulohazalaringiz va maslahatlaring bo'lsa be'malol murojat etishingiz mumkin </p>
          <form action="#" class="contact_form" method='post'> {% csrf_token %}
            <input class="form-control" type="text" placeholder="Name*" name='name'>
            <input class="form-control" type="email" placeholder="Email*" name='email'>
            <textarea class="form-control" cols="30" rows="10" placeholder="Message*"></textarea>
            <input type="submit" value="Xabar jo'natish" name='message'>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="latest_post">
        <h2><span>Latest post</span></h2>
        <div class="latest_post_container">
          <div id="prev-button"><i class="fa fa-chevron-up"></i></div>
          <ul class="latest_postnav">
            {% for news in latest_news %}
            <li>
              <div class="media"> <a href="{% url "news_detail" news.pk %}" class="media-left"> <img alt="" src="{{ news.image.url }}"> </a>
                <div class="media-body"> <a href="{% url "news_detail" news.pk %}" class="catg_title">{{ news.title | truncatewords:5 }}</a> 
                  <i class="fa fa-eye" aria-hidden="true"></i> {% get_hit_count for news %}
                </div>
              </div>
            </li>
           {% endfor %}
          </ul>
          <div id="next-button"><i class="fa  fa-chevron-down"></i></div>
        </div>
      </div>
    </div>
    

  {% endblock %}
 