{% extends 'news/beas.html' %}
{% load static %}
{% load hitcount_tags %}

{% block content %}
<title>{% block title %} Bosh sahifa {% endblock%}</title>

<section id="sliderSection">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="slick_slider">
        {% for news in news_list  %}
        <div class="single_iteam"> <a href="{{ news.get_absolute_url}}"> <img src="{{ news.image.url }}" alt="Rasm bu "></a>
          <div class="slider_article">
            <h2><a class="slider_tittle" href="{{ news.get_absolute_url}}">{{ news.title | truncatewords:5 }}</a></h2>
            <p>{{ news.title }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="latest_post">
        <h2><span>So'ngi yangiliklar </span></h2>
        <div class="latest_post_container">
          <div id="prev-button"><i class="fa fa-chevron-up"></i></div>
          <ul class="latest_postnav">
            {% for news in news_list %}
            <li>
              <div class="media"> <a href="{{ news.get_absolute_url}}" class="media-left"> <img alt="" src="{{ news.image.url }}"> </a>
                <div class="media-body"> <a href="{{ news.get_absolute_url}}" class="catg_title">{{ news.title | truncatewords:5 }}</a> 
                  <i class="fa fa-eye" aria-hidden="true"></i> {% get_hit_count for news %}
                </div>
              </div>
            </li>
           {% endfor %}
          </ul>
          <div id="next-button"><i class="fa  fa-chevron-down"></i></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="contentSection">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="left_content">
        <div class="single_post_content">
          <h2><span>Mahaliy yangiliklar </span></h2>
          <div class="single_post_content_left">
            <ul class="business_catgnav  wow fadeInDown">
              {%for local in mahalliy_news %}
                {% if forloop.first %}
              <li>
                <figure class="bsbig_fig"> <a href="{{ local.get_absolute_url}}" class="featured_img"> <img alt="" src="{{ local.image.url }}"> <span class="overlay"></span> </a>
                  <figcaption> <a href="{{ local.get_absolute_url}}">{{ local.title | truncatewords:5 }}</a> </figcaption>
                  <p>{{ local.title }}</p>
                  <i class="fa fa-eye" aria-hidden="true"></i> {% get_hit_count for local %}
                </figure>
              </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
          <div class="single_post_content_right">
            <ul class="spost_nav">
              {% for news in mahalliy_news %}
                {% if forloop.counter > 1   %}
              <li>
                <div class="media"> <a href="{{ news.get_absolute_url}}" class="media-left"> <img alt="" src="{{ news.image.url }}"> </a>
                  <div class="media-body"> <a href="{{ news.get_absolute_url}}" class="catg_title">{{ news.title | truncatewords:5 }}</a> 
                    <i class="fa fa-eye" aria-hidden="true"></i> {% get_hit_count for news %}
                  </div>
                </div>
              </li>
                {% endif %}
             {% endfor %}
            </ul>
          </div>
        </div>
        <div class="fashion_technology_area">
          <div class="fashion">
            <div class="single_post_content">
              <h2><span>Xorij yangiliklar</span></h2>
              <ul class="business_catgnav wow fadeInDown">
                {% for glob in xorij_news%}
                  {% if forloop.first  %}
                <li>
                  <figure class="bsbig_fig"> <a href="{{ glob.get_absolute_url}}" class="featured_img"> <img alt="" src="{{ glob.image.url }}"> <span class="overlay"></span> </a>
                    <figcaption> <a href="{{ glob.get_absolute_url}}">{{ glob.title | truncatewords:5}}</a> </figcaption>
                    <p>{{ glob.title }}</p>
                    <i class="fa fa-eye" aria-hidden="true"></i> {% get_hit_count for glob %}
                  </figure>
                </li>
                  {% endif %}
                {% endfor %}
              </ul>
              <ul class="spost_nav">
                {% for globs in xorij_news %}
                  {% if forloop.counter > 1 %}
                <li>
                  <div class="media wow fadeInDown"> <a href="{{ globs.get_absolute_url}}" class="media-left"> <img alt="" src="{{ globs.image.url }}"> </a>
                    <div class="media-body"> <a href="{{ globs.get_absolute_url}}" class="catg_title">{{ globs.title }}</a> 
                      <i class="fa fa-eye" aria-hidden="true"></i> {% get_hit_count for globs %}
                    </div>
                  </div>
                </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="technology">
            <div class="single_post_content">
              <h2><span>Texnalogiya yangiliklar</span></h2>
              <ul class="business_catgnav">
                {% for texn in texno_news %}
                  {% if forloop.first %}
                <li>
                  <figure class="bsbig_fig wow fadeInDown"> <a href="{{ texn.get_absolute_url}}" class="featured_img"> <img alt="" src="{{ texn.image.url }}"> <span class="overlay"></span> </a>
                    <figcaption> <a href="{{ texn.get_absolute_url}}">{{ texn.title | truncatewords:5}}</a> </figcaption>
                    <p>{{ texn.title }}</p>
                    <i class="fa fa-eye" aria-hidden="true"></i> {% get_hit_count for texn %}
                  </figure>
                </li>
                  {% endif %}
                {% endfor %}
              </ul>
              <ul class="spost_nav">
                {% for texns in texno_news %}
                  {% if forloop.counter > 1  %}
                <li>
                  <div class="media wow fadeInDown"> <a href="{{ texns.get_absolute_url}}" class="media-left"> <img alt="" src="{{ texns.image.url }}"> </a>
                    <div class="media-body"> <a href="{% url 'news_detail' texns.pk %}" class="catg_title">{{ texns.title | truncatewords:5}}</a> 
                      <i class="fa fa-eye" aria-hidden="true"></i> {% get_hit_count for texns %}
                    </div>
                  </div>
                </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
        <div class="single_post_content">
          <h2><span>Photography</span></h2>
          <ul class="photograph_nav  wow fadeInDown">
            <li>
              <div class="photo_grid">
                <figure class="effect-layla"> <a class="fancybox-buttons" data-fancybox-group="button" href="images/photograph_img2.jpg" title="Photography Ttile 1"> <img src="{% static 'images/photograph_img2.jpg' %}" alt=""/></a> </figure>
              </div>
            </li>
            <li>
              <div class="photo_grid">
                <figure class="effect-layla"> <a class="fancybox-buttons" data-fancybox-group="button" href="images/photograph_img3.jpg" title="Photography Ttile 2"> <img src="{% static 'images/photograph_img3.jpg' %}" alt=""/> </a> </figure>
              </div>
            </li>
            <li>
              <div class="photo_grid">
                <figure class="effect-layla"> <a class="fancybox-buttons" data-fancybox-group="button" href="images/photograph_img4.jpg" title="Photography Ttile 3"> <img src="{% static 'images/photograph_img4.jpg' %}" alt=""/> </a> </figure>
              </div>
            </li>
            <li>
              <div class="photo_grid">
                <figure class="effect-layla"> <a class="fancybox-buttons" data-fancybox-group="button" href="images/photograph_img4.jpg" title="Photography Ttile 4"> <img src="{% static 'images/photograph_img4.jpg' %}" alt=""/> </a> </figure>
              </div>
            </li>
            <li>
              <div class="photo_grid">
                <figure class="effect-layla"> <a class="fancybox-buttons" data-fancybox-group="button" href="images/photograph_img2.jpg" title="Photography Ttile 5"> <img src="{% static 'images/photograph_img2.jpg' %}" alt=""/> </a> </figure>
              </div>
            </li>
            <li>
              <div class="photo_grid">
                <figure class="effect-layla"> <a class="fancybox-buttons" data-fancybox-group="button" href="images/photograph_img3.jpg" title="Photography Ttile 6"> <img src="{% static 'images/photograph_img3.jpg' %}" alt=""/> </a> </figure>
              </div>
            </li>
          </ul>
        </div>
        <div class="single_post_content">
          <h2><span>Sport yangliklari</span></h2>
          <div class="single_post_content_left">
            <ul class="business_catgnav">
              {% for sport in sport_news %}
                {% if forloop.first %}
              <li>
                <figure class="bsbig_fig  wow fadeInDown"> <a class="featured_img" href="{{ sport.get_absolute_url}}"> <img src="{{ sport.image.url }}" alt=""> <span class="overlay"></span> </a>
                  <figcaption> <a href="{{ sport.get_absolute_url}}">{{ sport.title |truncatewords:5}}</a> </figcaption>
                  <p>{{ sport.title }}</p>
                  <i class="fa fa-eye" aria-hidden="true"></i> {% get_hit_count for sport %}
                </figure>
              </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
          <div class="single_post_content_right">
            <ul class="spost_nav">
              {% for sports in sport_news %}
                {% if forloop.counter > 1 %}
              <li>
                <div class="media wow fadeInDown"> <a href="{{ sports.get_absolute_url}}" class="media-left"> <img alt="" src="{{ sports.image.url }}"> </a>
                  <div class="media-body"> <a href="{{ sports.get_absolute_url}}" class="catg_title">{{ sports.title }}</a> 
                    <i class="fa fa-eye" aria-hidden="true"></i> {% get_hit_count for sports %}
                  </div>
                </div>
              </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <aside class="right_content">
        <div class="single_sidebar">
          <h2><span>Ommabob yangiliklar </span></h2>
          <ul class="spost_nav">
            <li>
              <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="{% static 'images/post_img1.jpg' %}"> </a>
                <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a> </div>
              </div>
            </li>
            <li>
              <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="{% static 'images/post_img2.jpg' %}"> </a>
                <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 2</a> </div>
              </div>
            </li>
            <li>
              <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="{% static 'images/post_img1.jpg' %}"> </a>
                <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 3</a> </div>
              </div>
            </li>
            <li>
              <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="{% static 'images/post_img2.jpg' %}"> </a>
                <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 4</a> </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="single_sidebar">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#category" aria-controls="home" role="tab" data-toggle="tab">Category</a></li>
            <li role="presentation"><a href="#video" aria-controls="profile" role="tab" data-toggle="tab">Video</a></li>
            <li role="presentation"><a href="#comments" aria-controls="messages" role="tab" data-toggle="tab">Comments</a></li>
          </ul>
          <div class="tab-content">
            {% for cat in categories %}
            <div role="tabpanel" class="tab-pane active" id="category">
              <ul>
                <li class="cat-item"><a href="#">{{ cat.name }}</a></li>
                
              </ul>
            </div>
            {% endfor %}
            <div role="tabpanel" class="tab-pane" id="video">
              <div class="vide_area">
                <iframe width="100%" height="250" src="http://www.youtube.com/embed/h5QWbURNEpA?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="comments">
              <ul class="spost_nav">
                <li>
                  <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="{% static 'images/post_img1.jpg' %}"> </a>
                    <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 1</a> </div>
                  </div>
                </li>
                <li>
                  <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="{% static 'images/post_img2.jpg' %}"> </a>
                    <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 2</a> </div>
                  </div>
                </li>
                <li>
                  <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="{% static 'images/post_img1.jpg' %}"> </a>
                    <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 3</a> </div>
                  </div>
                </li>
                <li>
                  <div class="media wow fadeInDown"> <a href="pages/single_page.html" class="media-left"> <img alt="" src="{% static 'images/post_img2.jpg' %}"> </a>
                    <div class="media-body"> <a href="pages/single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius 4</a> </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="single_sidebar wow fadeInDown">
          <h2><span>Sponsor</span></h2>
          <a class="sideAdd" href="#"><img src="{% static 'images/add_img.jpg' %}" alt=""></a> </div>
        <div class="single_sidebar wow fadeInDown">
          <h2><span>Barcha kategoriyalar</span></h2>
          <select class="catgArchive">
            {% for kategoriya in categories %}
            <option>{{ kategoriya.name }}</option>
            {% endfor%}
          </select>
        </div>
        <div class="single_sidebar wow fadeInDown">
          <h2><span>Links</span></h2>
          <ul>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Rss Feed</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Life &amp; Style</a></li>
          </ul>
        </div>
      </aside>
    </div>
  </div>
</section>




{% endblock %}