{% extends "news/beas.html" %}

{% load static %}
{% load i18n %}
{% load hitcount_tags %}

{% block title %}{{ news.title }}{% endblock title%}

{% block content %}

  <h2>{{ news.title }}</h2>
  <h5>{{ news.publish_time }}|<i class="fa fa-eye" aria-hidden="true"></i> {% get_hit_count for news %}| Izohlar soni :{{ comment_count }}</h5>
  <img src="{{ news.image.url }}">
  <p>{{ news.body }} 
    <div class="card-footer text-center">
      {% if request.user.is_authenticated and request.user.is_superuser %}
      <a href="{% url "news_update" news.slug %}">Tahrirlash</a>
      <a href="{% url "news_delete" news.slug %}">O'chirish</a>
    
   
      {%endif%}
    </div>  <br>
    {% if comment_count > 0 %}
       <h3>{% trans "Bu yangilik" %} {{ comment_count }} {% trans "ta izoh qoldirilgan"%} </h3>
    {% else %}
    <h3>{% trans "Bu yangilik birorta ham izoh qoldirilgani yo'q"%} </h3>
    {% endif %}
{% for comment in comments %}
    <div class="comments" style = "padding:10px">
      <p class="font-weight-bold">
        {{ comment.user }}
      <span class="text-muted font-weight-normal">
        {{ comment.created_time}}
      </span>
      </p>
      {{ comment.body | linebreaks }}
    </div>
  {%endfor%}
  <div class="col-md-8 card mb-4 mt-3">
    {% if request.user.is_authenticated %}
    <div class = "card-body">
      <h3>{% trans "Izoh qoldirish" %}</h3>
      <form method="POST" style="margin-top:1.3em ">{% csrf_token %}
        {{comment_form.as_p}}
        <button type="submit" class="btn btn-primary btn-lg"> Yuborish</button>
      </form>
    </div>
    {%else%}
    <div card="card-body">
      <p class="text-danger">{% trans "Faqatgina ro'yxatdan o'tgan foydalanuvchilar izoh qoldira oladi" %}</p>
      <p>{% trans "Izoh qoldirish uchun " %}
        <a href="{% url 'user_register' %}">{% trans "ro'yxatdan o'ting" %} </a>
        <a href="{% url 'login_page' %}">{% trans "Yokida login qiling" %} </a>
      </p>
      <div>
    {% endif%}


  </div>

{% endblock %}