{% extends 'news/beas.html'%}
{% load static %}
{% load i18n %}
{% block title %} {% trans "Foydalanuvchining ma'lumotlarini o'zgartirish "%} {% endblock title %}

{% block content %}
<h1> {% trans "Foydalanuvchining ma'lumotlarini o'zgartirish " %}</h1>
    <p>{% trans "Siz o'zingiz haqingizdagi ma'lumotlarini quidagi formlar orqali o'zgartirishingiz mumkin %} </p>


    <form method="post" enctype= "multipart/form-data"> {% csrf_token %}
      {{ user_form.as_p }}
      {{ profile_form.as_p }}
      {% comment %} {{ user_form.as_p}} {% endcomment %}
      <button type='submit'>{% trans "O'zgartirishni saqalsh" %} </button>
    </form>
  
{%endblock content %}